<div class="app-component">
  <nav mat-tab-nav-bar class="mat-elevation-z8" >
    <a
      mat-tab-link
      *ngFor="let link of navLinks"
      routerLink="{{ link.location }}"
      routerLinkActive
      #rla="routerLinkActive"
      [active]="rla.isActive"
    >
      <mat-icon>{{ link.icon }}</mat-icon> &nbsp; &nbsp;
      <span>{{ link.label | uppercase }}</span>
    </a>
    </nav>
    <div class="app-component__outlet">
      <mat-form-field appearance="outline">
        <mat-label>User</mat-label>
        <mat-select [formControl]="toppings">
          <mat-option *ngFor="let topping of toppingList" [value]="topping" (click)="changeUser(topping)">{{topping}}</mat-option>
        </mat-select>
      </mat-form-field>
      <router-outlet></router-outlet>
    </div>
</div>
